<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AirportDao">
    <resultMap id="airportResultMap" type="Airport">
        <id property="airCode" column="airportCode"/>
        <result property="name" column="airportName"/>
        <result property="address" column="address"/>
    </resultMap>
    <insert id="addAirport" parameterType="Airport">
        INSERT INTO airport(airportCode, airportName, address)
        VALUE (#{airCode}, #{name}, #{address})
    </insert>
    <update id="updateAirport" parameterType="Airport">
        UPDATE airport
        SET
        <if test="name != null">
            airportName = #{name},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        WHERE airportCode = #{airCode}
    </update>
    <select id="queryAirportById" resultType="Airport" parameterType="string">
        SELECT *
        FROM airport
        WHERE airportCode = #{airCode}
    </select>
    <select id="queryAllAirport" resultMap="airportResultMap">
        SELECT * FROM airport;
    </select>
</mapper>
